
@{
    ViewBag.Title = "Task Reconsilation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    /*span.k-datepicker {
        width: 330px !important;
    }*/
    .k-filedelete {
        background-image: url(../../images/close.png) !important;
        background-repeat: no-repeat;
        background-position: left center;
        width: 25px;
        height: 28px;
    }
    .ui-datepicker .ui-datepicker-title select {
        color:black;
    }
    .k-filedownload {
        background-image: url(../../images/download.png) !important;
        background-repeat: no-repeat;
        background-position: left center;
        width: 25px;
        height: 28px;
    }

    .k-grid-Download {
        min-width: 25px;
    }

    .k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
        min-width: 25px;
    }
</style>

<div class="maincontainer">
    <div class="top_strap">
        <div class="pull-left">
            <h3 class="page-title">
                TASK RECONSILATION
                @*<span class="glyphicon glyphicon-question-sign notification"><div class="tooltip">I am a tooltip!</div></span>*@
            </h3>
        </div>
        <div class="pull-right" style="margin:0px;">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row fullock">
            <div class="col-xs-12 col-sm-12 col-md-12" style="border-bottom:4px solid #ccc;">
                <h3 class="sub-page-title">Filter</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>Type</label> </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn">
                    <select id="ddlActivitytype">
                        <option value="">Select activity type...</option>
                        <option value="Contractor">Contractor</option>
                        <option value="PE">PE</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    @*<input type="button" value="All" class="all_btn" />*@
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>Company</label> </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn">
                    @Html.DropDownList("ddlcompany", new SelectList(ViewBag.CompList, "Value", "Text"))
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    @*<input type="button" value="All" class="all_btn" />*@
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"><label>Site</label></div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn" id="dvSite">
                    <select id="ddlSite">
                        <option value="0">First select a company...</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <input type="button" value="All" class="all_btn" id="btnAllSite" />
                </div>
            </div>*@
            @*<div class="col-xs-12 col-sm-6 col-md-6 singleblock modal" id="dvCont">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>Contractor</label> </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn" id="dvContractor">
                    <select id="ddlContractor">
                        <option value="0">First select a company...</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <input type="button" value="All" class="all_btn" id="btnAllContractor" />
                </div>
            </div>*@
            @*<div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>Act</label> </div>
                @@Html.DropDownList("ddlAct", new SelectList(ViewBag.ActList, "Value", "Text"), new { @multiple = "multiple", @data_placeholder = "Select act..." })@
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn" id="dvAct">
                    <select id="ddlAct">
                        <option value="0">First select a site...</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <input type="button" value="All" class="all_btn" id="btnAllActs" />
                </div>
            </div>*@
            @*<div class="col-xs-12 col-sm-2 col-md-2">
                    <input type="button" value="All" class="all_btn" id="btnAllActs" />
                </div>*@
            @*<div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>Activity</label> </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn" id="dvActivity">
                    <select id="ddlActivity">
                        <option value="0">First select a act...</option>
                    </select>
                    @Html.DropDownList("ddlActivity", new SelectList(ViewBag.ActivityList, "Value", "Text"), new { @multiple = "multiple", @data_placeholder = "Select activity..." })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <input type="button" value="All" class="all_btn" id="btnAllActivitys" />
                </div>
            </div>*@
            @*<div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>Month</label> </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn">
                    <select id="ddlMonth">
                        <option value="">Select month...</option>
                        <option value="1">JAN</option>
                        <option value="2">FEB</option>
                        <option value="3">MAR</option>
                        <option value="4">APR</option>
                        <option value="5">MAY</option>
                        <option value="6">JUN</option>
                        <option value="7">JULY</option>
                        <option value="8">AUG</option>
                        <option value="9">SEP</option>
                        <option value="10">OCT</option>
                        <option value="11">NOV</option>
                        <option value="12">DEC</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                  
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>Year</label> </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn">
                    <select id="ddlYear">
                        <option value="">Select year...</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                  
                </div>
            </div>*@
            @*<div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>ExpDate</label></div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn">
                    <div class='input-group date'>
                        <input id="txtExpiryDate" type='text' class="form-control" placeholder="dd/mm/yyyy" />
                        <span id="spnExpDate" class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                  
                </div>
            </div>*@
            <div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>From Date</label></div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn">
                    <div class='input-group date'>
                        <input id="txtFromDate" type='text' class="form-control" placeholder="dd/mm/yyyy" readonly="readonly" />
                        <span id="spnfrmDate" class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>               
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-2 mappingbtn"> <label>To Date</label></div>
                <div class="col-xs-12 col-sm-7 col-md-8 mappingbtn">
                    <div class='input-group date'>
                        <input id="txtToDate" type='text' class="form-control" placeholder="dd/mm/yyyy" readonly="readonly" />
                        <span id="spnToDate" class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @*@Html.TextBox("txtExpiryDate")*@
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-12 col-md-12 singleblock">
                <div class="col-xs-12 col-sm-3 col-md-1 mappingbtn"> <label>DocID</label> </div>
                <div class="col-xs-12 col-sm-2 col-md-4 mappingbtn">
                    <input type="text" id="txtDocID" />
                </div>
            </div>*@
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-4 col-md-4 mapload">
                    <input type="button" id="btnShow" value="Search" class="button show_btn" />
                </div>
            </div>
        </div>
        <div>
            <div id="Kgrid"></div>
        </div>
    </div>
</div>


@section commanscript {

    @Scripts.Render("~/Content/CommanScript")
    <script type="text/javascript">
    var GetDocTaskSearchGridUrl = '@Url.RouteUrl("GetDocTaskReport")';
    var GetMappedSiteUrl = '@Url.RouteUrl("GetMappedSite")';
    var GetContractorOfTaskFilterUrl = '@Url.RouteUrl("GetContractorOfTaskFilter")';
    var GetActivityForAllAertsUrl = '@Url.RouteUrl("GetActivityForAllAerts")';
    var GetTaskFilesUrl = '@Url.RouteUrl("GetTaskFiles")';
    var RemoveTaskFileUrl = '@Url.RouteUrl("RemoveTaskFile")';
    var DownloadTaskFileUrl = '@Url.RouteUrl("DownloadTaskFile")';
    var GetMappedActsForMultipleSiteUrl = '@Url.RouteUrl("GetMappedActsForMultipleSite")';
    </script>
    @Scripts.Render("~/bundles/bndlTaskReconsilation");

    <script>
      
        $(document).ready(function () {
                      $("#btnShow").bind("click", {}, BindGrid);

          
        });
    </script>
}
