@using System.Data;
@model DataTable

@{
    ViewBag.Title = "Quick Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //Getting Menu list from model
    DataTable dt = Model;
    string circless = "qk-outer";
}
<div class="maincontainer">

    <div class="top_strap">
        <div class="heading-title">
            <h3 class="page-title">Quick Start</h3>
        </div>
        <div style="margin:0px 0px 10px;"></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-1 col-md-1"></div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    @{
                        if(Convert.ToInt32(dt.Rows[0]["TotalUser"])>0)
                        {
                            circless = "qk-circle media-inner";
                        }
                        else
                        {
                            circless = "qk-outer media-outer";
                        }
                    
                    }
                    <div class="@circless">
                        <span>1</span>
                        <div class="qk-arrow">
                            <div class="ftqk-line"></div>
                            <div class="qk-point"></div>
                        </div>
                    </div>
                </div>
                @{
                    if (Convert.ToInt32(dt.Rows[0]["CompanyCount"]) > 0)
                    {
                        circless = "qk-circle media-inner";
                    }
                    else
                    {
                        circless = "qk-outer media-outer";
                    }

                }
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="@circless">
                        <span>2</span>
                        <div class="qk-arrow">
                            <div class="qk-line"></div>
                            <div class="qk-point"></div>
                        </div>
                    </div>
                </div>
                @{
                    if (Convert.ToInt32(dt.Rows[0]["SiteCount"]) > 0)
                    {
                        circless = "qk-circle media-inner";
                    }
                    else
                    {
                        circless = "qk-outer media-outer";
                    }

                }
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="@circless">
                        <span>3</span>
                        <div class="qk-arrow">
                            <div class="qk-line"></div>
                            <div class="qk-point"></div>
                        </div>
                    </div>
                </div>
                @{
                    if (Convert.ToInt32(dt.Rows[0]["ContractorCount"]) > 0)
                    {
                        circless = "qk-circle media-inner";
                    }
                    else
                    {
                        circless = "qk-outer media-outer";
                    }

                }
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="@circless">
                        <span>4</span>
                        <div class="qk-arrow">
                            <div class="qk-line"></div>
                            <div class="qk-point"></div>
                        </div>
                    </div>
                </div>
                @{
                    if (Convert.ToInt32(dt.Rows[0]["MappingCount"]) > 0)
                    {
                        circless = "qk-circle media-inner";
                    }
                    else
                    {
                        circless = "qk-outer media-outer";
                    }

                }
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="@circless">
                        <span>5</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-1 col-md-1"></div>

            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="">
                    Total User <span>@dt.Rows[0]["TotalUser"]</span>
                    <div class="quick-butn"><a href="@Url.RouteUrl("UserView")">Create User</a></div>
                    @if (Convert.ToInt32(dt.Rows[0]["TotalUser"]) > 0)
                    {
                        <div class="qk-tick"></div>
                    }
                    else
                    { <div class="qk-close"></div> }
                   
                </div>
                @*<div class="qk-user">
                    <a href="@Url.RouteUrl("UserView")">Create User</a>
                    <div class="">Total User <span>@dt.Rows[0]["TotalUser"]</span></div>
                    @if (Convert.ToInt32(dt.Rows[0]["TotalUser"]) > 0)
                    {
                        <div class="qk-tick"><img class="img-responsive" src="images/tick.png"></div>
                    }
                  
                </div>*@
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="">
                    Total Company <span>@dt.Rows[0]["CompanyCount"]</span>
                    <div class="quick-butn"><a href="@Url.RouteUrl("CompanyView")">Create Company</a> </div>
                    @if (Convert.ToInt32(dt.Rows[0]["CompanyCount"]) > 0)
                    {
                        <div class="qk-tick"></div>
                    }
                    else
                    { 
                    <div class="qk-close"></div>}
                </div>
                @*<div class="qk-comp">
                   
                    <div class="">Total Company <span>@dt.Rows[0]["CompanyCount"]</span></div>
                    @if (Convert.ToInt32(dt.Rows[0]["CompanyCount"]) > 0)
                    {
                        <div class="qk-tick"><img class="img-responsive" src="images/tick.png"></div>
                    }
                 
                </div>*@
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="">
                    Total Site <span>@dt.Rows[0]["SiteCount"]</span>
                    <div class="quick-butn"><a href="@Url.RouteUrl("ViewSite")">Create Site</a></div>
                    @if (Convert.ToInt32(dt.Rows[0]["SiteCount"]) > 0)
                    {
                        <div class="qk-tick"></div>
                    }
                    else
                    { <div class="qk-close"></div> }
                 
                </div>
                @*<div class="qk-site">
                    
                    <div class=""></div>
                    @if (Convert.ToInt32(dt.Rows[0]["SiteCount"]) > 0)
                    {
                        <div class="qk-tick"><img class="img-responsive" src="images/tick.png"></div>
                    }
                   
                </div>*@
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="">
                    Total Contractor <span>@dt.Rows[0]["ContractorCount"]</span>
                    <div class="quick-butn"><a href="@Url.RouteUrl("ViewContractor")">Create Contractor</a></div>
@if (Convert.ToInt32(dt.Rows[0]["ContractorCount"]) > 0)
                    {
                    <div class="qk-tick"></div>
                    }
else
{ <div class="qk-close"></div> }
                </div>
                @*<div class="qk-cont">
                   
                    <div class=""></div>
                    @if (Convert.ToInt32(dt.Rows[0]["ContractorCount"]) > 0)
                    {
                        <div class="qk-tick"><img class="img-responsive" src="images/tick.png"></div>
                    }
                   
                </div>*@
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="">
                    Total Mapping <span>@dt.Rows[0]["MappingCount"]</span>
                    <div class="quick-butn"><a href="@Url.RouteUrl("PEMapping")">ACT Mapping</a> </div>
                    @if (Convert.ToInt32(dt.Rows[0]["MappingCount"]) > 0)
                                        {
                                        <div class="qk-tick"></div>
                                        }
                    else
                    { <div class="qk-close"></div> }
                </div>
                @*<div class="qk-map">
                    
                    <div class=""></div>
                    @if (Convert.ToInt32(dt.Rows[0]["MappingCount"]) > 0)
                    {
                        <div class="qk-tick"><img class="img-responsive" src="images/tick.png"></div>
                    }
                   
                </div>*@
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="quick-contentbox">
                   Create atleast one user  under the customer which may act as an Admin or as a Maker/Checker, this users will perform/process the documents required for Complaince.
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="quick-contentbox">
                    Create a Company under the customer for which the Compliance has to be taken.
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="quick-contentbox">
                   After Company, create sites or say locations for the  Company on which the processing  will be taken.
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="quick-contentbox">
               Add Contractors which will also perform compliance for the sites added along with the primary employee. 
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 extra">
                <div class="quick-contentbox">
                   Finally create mapping between Company,Site, Acts & Contractors(if applicable) so as to create documents neccessary to check complaince.
                </div>
            </div>

            <div class="col-xs-12 col-sm-1 col-md-1"></div>

            </div>
        </div>

    <!-----------------end of popup model------------>
</div>

