@using Ecompliance.Areas.Master.Models
@using System.Data;
@model Site
@{
    ViewBag.Title = "Site";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container maincontainer">
    @*Snap shot*@
    <div class="hidden-xs col-sm-2 col-md-2 snapshot extra pull-left" style="box-shadow: 0 0 4px #ccc;height:450px;">
        <div class="top_strap">
            <div class="pull-left">
                <h3 class="page-title">Snap Shot</h3>
            </div>
            <div class="clearfix"></div>
            <div style="margin:0px 0px 10px;"></div>
        </div>
        <!--accordian html starts -->
        <div class="u-vmenu listvmenu scrollbox3">
            <input type="hidden" id="hdnFilterComp" value="0" />
            <ul>
                @{
                    DataTable Ds = (DataTable)ViewBag.Ds;
                    if (Ds.Rows.Count > 0)
                    {
                        <li><a id="aSiteTotal" href="javascript:void(0);" onclick="javascript:FilterGrid(0,this.id)">ALL</a></li>
                        for (int i = 0; i < Ds.Rows.Count; i++)
                        {
                            string id = "a" + @Ds.Rows[i]["CompID"];
                            <li><a id="@id" href="javascript:void(0);" onclick="javascript:FilterGrid(@Ds.Rows[i]["CompID"],this.id)">@Ds.Rows[i]["Name"]</a></li>
                        }
                    }
                }
            </ul>
        </div>
        <!-- accordian html ends -->
    </div>
    @*Snap shot end*@
    <div class="col-xs-12 col-sm-10 col-md-10 extra pull-right" style="box-shadow: 0 0 4px #ccc;">
        <div class="top_strap">
            <div class="pull-left">
                <h3 class="page-title">Site Master</h3>
            </div>
            <div class="pull-right" style="margin:0px;">
                @{Html.RenderAction("RenderButton", "MasterUtils", new { ControllerName = "Site", area = "Master" });}
            </div>
            <div class="clearfix"></div>
            @*<div style="margin:0px 0px 10px;"></div>*@
        </div>
        <div>
            <div id="Kgrid"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
    </div>
    <div id="dvAddUpdate" class="modal" style="height:!important 500px;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="clearfix"></div>
            <div class="row top_content">
                <p>Note: Field with <span>(*)</span> are mandatory </p>
                <div id="result"></div>
                @using (Ajax.BeginForm("createSite", new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessMessage", OnFailure = "FailMessage", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.SiteID, new { id = "hdnSiteID" })
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        <label>Customer<sup>*</sup> </label>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Customer, new SelectList(Model.CustomerList, "Value", "Text"), new { id = "ddlCustomer" })
                        @Html.ValidationMessageFor(m => m.Customer)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        <label>Company<sup>*</sup></label>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals ">
                        @Html.DropDownListFor(x => x.Company, new List<SelectListItem> { new SelectListItem { Text = "-- First select a Customer --", Value = "0" } }, new { id = "ddlCompany" })
                        @Html.ValidationMessageFor(m => m.Company)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        <label>Site Name<sup>*</sup> </label>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4  allcreditionals">
                        @Html.TextBoxFor(m => m.Name, new { id = "txtName" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        <label>Site Code<sup>*</sup> </label>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4  allcreditionals">
                        @Html.TextBoxFor(m => m.SiteCode, new { id = "txtSiteCode" })
                    </div>

                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        <label>State<sup>*</sup> </label>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.State, new SelectList(Model.StateList, "Value", "Text"), new { id = "ddlState" })
                        @Html.ValidationMessageFor(m => m.State)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        <label>Location</label>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Location, new List<SelectListItem> { new SelectListItem { Text = "-- First select a state --", Value = "0" } }, new { id = "ddlLocation" })
                        @Html.ValidationMessageFor(m => m.Location)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        Contact Person
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.TextBoxFor(m => m.Contact_Person, new { id = "txtContact_Person" })
                        @Html.ValidationMessageFor(m => m.Contact_Person)
                    </div>

                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        Contact Number
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.TextBoxFor(m => m.Contact_Number, new { id = "txtContact_Number" })
                        @Html.ValidationMessageFor(m => m.Contact_Number)
                    </div>

                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 allcreditionals">
                        @Html.TextBoxFor(m => m.Address, new { id = "txtAddress" })
                        @Html.HiddenFor(m => m.LatLong, new { id = "hdnSiteLatLong" })
                        @Html.HiddenFor(m => m.PlaceID, new { id = "hdnPlaceID" })
                        @Html.ValidationMessageFor(m => m.Address)
                    </div>
                    <div class="col-xs-6 col-sm-1 col-md-1 allcreditionals">
                        <div><input id="btnMap" type="button" value="" class="button loc-map" /></div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        @*@Html.LabelFor(m => m.Maker)*@
                        Maker1
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Maker, new SelectList(Model.UserList, "Value", "Text"), new { id = "ddlMaker" })
                        @Html.ValidationMessageFor(m => m.Maker)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        @*@Html.LabelFor(m => m.Checker)*@
                        Checker1
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Checker, new SelectList(Model.UserList, "Value", "Text"), new { id = "ddlChecker" })
                        @Html.ValidationMessageFor(m => m.Checker)
                    </div>



                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        @Html.LabelFor(m => m.Maker2)
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Maker2, new SelectList(Model.UserList, "Value", "Text"), new { id = "ddlMaker2" })
                        @Html.ValidationMessageFor(m => m.Maker2)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        @Html.LabelFor(m => m.Checker2)
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Checker2, new SelectList(Model.UserList, "Value", "Text"), new { id = "ddlChecker2" })
                        @Html.ValidationMessageFor(m => m.Checker2)
                    </div>

                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        @Html.LabelFor(m => m.Auditor1)
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Auditor1, new SelectList(Model.AuditorList, "Value", "Text"), new { id = "ddlAuditor1" })
                        @Html.ValidationMessageFor(m => m.Auditor1)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        @Html.LabelFor(m => m.Auditor2)
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcreditionals">
                        @Html.DropDownListFor(x => x.Auditor2, new SelectList(Model.AuditorList, "Value", "Text"), new { id = "ddlAuditor2" })
                        @Html.ValidationMessageFor(m => m.Auditor2)
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                        Is Active
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 allcredit_checkbox section">
                        @Html.CheckBoxFor(m => m.IsAct, new { id = "IsAct" })
                        @Html.ValidationMessageFor(m => m.IsAct)
                    </div>
                    <div class="clearfix"></div>
                    <div class="reset_btn" align="right">
                        <input type="submit" value="Submit" id="btnSubmit" class="button submit" />
                        <input type="reset" id="btnReset" value="Reset" class="button reset" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="dialog" class="col-xs-12 col-sm-12 col-md-12 modal">
    <div class="">
        <div class="clearfix"></div>
        <div class="row top_content">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>select a CSV file</label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 allcreditionals">

                    <input type="file" name="files" id="files" target-control="hdnFileName">


                    <input type="hidden" id="hdnFileName" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 allcreditionals">

                    <div class="reset_btn" align="right">
                        <input type="button" value="Sample" id="btnDownloadSample" class="button download" onclick="DownLoadSampleSite();" />
                        <input type="button" value="Upload" id="btnUpload" class="button upload_btn" />
                    </div>

                </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>
<div id="log" class="col-xs-12 col-sm-12 col-md-12 modal">
    <div class="">

        <div class="clearfix"></div>
        <div class="row top_content">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-3 col-md-3 top_content">
                    <label class="headtag">Total Success</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label id="lblTotSuccess" class="feedback_content">500</label>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label class="headtag">Total Loss</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label id="lblTotFailed" class="feedback_content">500</label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="reset_btn" align="right">
                        <input type="hidden" id="hdnresultFile" />
                        <input type="button" value="Download" onclick="DownLoadResultFile();" class="button download" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="modalpartial" class="col-xs-12 col-sm-12 col-md-12 modal">
    <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs topheader-tab">
            <li id="liDetails" class="active"><a href="#tab_1_1" data-toggle="tab">Detail</a></li>
            <li id="liHistory"><a href="#tab_1_2" data-toggle="tab">History</a></li>
        </ul>
    </div>
    <div class="row top_content tab-content">
        <div class="tab-pane active" id="tab_1_1">
            <div class="tabinner-content newbox">
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Company </label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblCompany" class="feedback_content"></label></div>
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Customer </label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblCustomer" class="feedback_content"></label></div>

                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Name </label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblName" class="feedback_content"></label></div>
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">State </label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblState" class="feedback_content"></label></div>

                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Location</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblLocation" class="feedback_content"></label></div>

                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Contact Person </label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblContact_Person" class="feedback_content"></label></div>
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Contact Number </label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblContact_Number" class="feedback_content"></label></div>

                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Address</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblAddress" class="feedback_content"></label></div>
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Maker</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblMaker" class="feedback_content"></label></div>

                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Checker</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblChecker" class="feedback_content"></label></div>
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Maker2</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblMaker2" class="feedback_content"></label></div>

                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Checker2</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblChecker2" class="feedback_content"></label></div>
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Auditor1</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblAuditor1" class="feedback_content"></label></div>

                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Auditor2</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblAuditor2" class="feedback_content"></label></div>
                <div class="Cell col-xs-12 col-sm-2 col-md-2"><label class="headtag">Status</label></div>
                <div class="Cell col-xs-12 col-sm-4 col-md-4"><label id="lblIsAct" class="feedback_content"></label></div>
            </div>
        </div>
        <div class="tab-pane" id="tab_1_2">
            <div class="tabinner-content">
                <div id="GridHis" style="margin-top:20px; width:1150px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dvfilter" class="col-xs-12 col-sm-12 col-md-12 modal">
    <div class="">
        <div class="clearfix"></div>
        <div class="row top_content">
            <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals"></div>

            <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals">
                <label>Address</label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 allcreditionals ">
                <input id="txtMapAddress" type='text' class="form-control" />
            </div>

            <div class="col-xs-6 col-sm-2 col-md-2 allcreditionals"></div>
        </div>
    </div>
    <div class="clearfix"></div>
        <div id="mapaddress" class="map-outer">
        </div>
    <div style="text-align: right; margin-top: 10px;"><input type="button" id="btnMapOK" class="ok" style="text-align:right;" value="Ok" /></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span><br>
        <span id="place-address"></span>
    </div>
</div>

<div id="dvCompanyMapping" class="col-xs-12 col-sm-12 col-md-12 modal" style="overflow:hidden;">
    <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs topheader-tab">
            <li id="liComp" class="active"><a href="#tabdvPE" data-toggle="tab">Company</a></li>
            <li id="liContractor"><a href="#tabdvCont" data-toggle="tab">Contractor</a></li>
        </ul>
    </div>
    <div class="row top_content tab-content">
        <div class="tab-pane active" id="tabdvPE">
            <div id="grdPE" style="margin-top:20px; width:1100px; height:350px;">

            </div>
        </div>
        <div class="tab-pane" id="tabdvCont">
            <div id="grdCont" style="margin-top:20px; width:1100px; height:350px;">

            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnCountsite" value="0" />
<div id="dvMappingSite" class="modal">
                <div class="row top_content">
                    <div class="clearfix"></div>
                    <div class="col-sm-12" style="margin-bottom:20px; display:none" id="divGroupDowndown">
                        <label for="inputEmail3" class="col-sm-2 control-label">Company:</label>
                        <div class="col-sm-4">
                            <select id="ddlMappingCompany" class="form-control"></select>
                        </div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Site:</label>
                            <div class="col-sm-4" style="padding-left: 0px;">
                                <select id="ddlMappingSite" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                            <div id="KSitegrd"></div>
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                <div class="reset_btn" align="right">
                                    <input type="button" id="btnSubmitSite" value="Copy" class="btn btn-primary BtnBlueLg" />
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.box-body -->
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section commanscript {

    @Scripts.Render("~/Content/CommanScript")
    
    <script type="text/javascript">
    var UploadSiteUrl = '@Url.RouteUrl("UploadSite")';
    var FilesUploadUrl = '@Url.RouteUrl("FilesUpload")';
    var getSiteHistoryUrl = '@Url.RouteUrl("getSiteHistory")';
    var getSiteUrl = '@Url.RouteUrl("getSite")';
    var DownLoadResultFileUrl = '@Url.RouteUrl("DownLoadSiteResultFile")';
    var DownloadSampleSiteUrl = '@Url.RouteUrl("DownloadSampleSite")';
    var getSiteUrl = '@Url.RouteUrl("getSite")';
    var GetMappedCompanyUrl = '@Url.RouteUrl("GetMappedCompany")';
    var DownloadAllMapppingSiteUrl = '@Url.RouteUrl("DownloadAllMapppingSite")';
    var GetCompanyMappingUrl = '@Url.RouteUrl("GetCompanyMapping")';
    var GetContractorMappingUrl = '@Url.RouteUrl("GetContractorMapping")';
   var GetLocationForSiteUrl = '@Url.RouteUrl("GetLocationForSite")';
        var BindSiteUrl = '@Url.RouteUrl("BindSite")';
        var AddMappingSiteUrl = '@Url.RouteUrl("AddMappingSite")';
        var GetMappingSiteURL = '@Url.RouteUrl("GetMappingSite")';
        
    </script>
    @Scripts.Render("~/bundles/bndlSite")

<script id="template" type="text/x-kendo-template">
    <a class="k-button" href="\#" onclick="return expandAll()"><span class="k-icon k-i-arrow-s"></span>Expand All</a>
</script>
<script id="template1" type="text/x-kendo-template">
    <a class="k-button" href="\#" onclick="return collapseAll()"><span class="k-icon"></span>Collapse All</a>
</script>
<script id="expandallcont" type="text/x-kendo-template">
    <a class="k-button" href="\#" onclick="return expandAllcont()"><span class="k-icon k-i-arrow-s"></span> Expand All</a>
</script>
<script id="collapseallcont" type="text/x-kendo-template">
    <a class="k-button" href="\#" onclick="return collapseAllcont()"><span class="k-icon"></span>Collapse All</a>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfkp8TEy-CasVPs9Dj6chCtF4axRS0v8o&libraries=places&callback=initMap"
        async defer></script>
}

   